# ------------------------------------
# 1. Environment and Python Build Files
# ------------------------------------
# Ignore virtual environment directory
venv/
.env

# Byte-compiled Python files
__pycache__/
*.pyc

# Distribution/build artifacts
*.egg-info/
dist/
build/


# Ignore all temporary processing files
temp_files/

**/*.mp4 




# ------------------------------------
# 3. Operating System / IDE Files
# ------------------------------------
# macOS files
.DS_Store

# Common IDE files (VS Code, PyCharm)
.idea/
.vscode/

# ------------------------------------
# 4. Miscellaneous
# ------------------------------------
prompt.txt
contents/*.json

